 .todo{
    width: 100%;
   min-height: 83vh;
   max-height: auto;
   position: relative;
 }

 .todo-inputs{
    border: none;
    outline: none;
    /* border-bottom: 1px solid black; */
    /* width: 100%; */
    margin: 10px 0px;
 }
 .todo-inputs-dev{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
 }

 .cardBorder{
   /* border: 1px solid black; */
   margin-top: 20px;
   margin-bottom: 30px;
   padding: 10px;

 }

 .cardCapsul{
   box-shadow: rgba(0, 0, 0, 0.25) 10px 10px 22px;
   border: none;
   border-radius: 10px;
   /* height: 20px; */
   /* min-height: 40px; */
   /* max-height: 40px; */
 }
 .card-icon-head{
   cursor: pointer;
 }

 .todo-update{
   position: absolute;
   top: 0px;
   left: 10px;
   width: 99%;
   height: 82vh;
   background-color: rgb(7, 143, 156);
   display: none;
 }
 .todo-inputs-update{
   width: 80%;
   border: none;
   outline: none;
   border-bottom: 1px solid black;
   margin: 20px 0px;
   padding: 10px;
   border-radius: 10px;
 }

 .button{
   padding: 10px;
   border: none;
   border-radius: 10px;
 }
 .cross-icon{
   cursor: pointer;
 }